{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
{% endblock %}

{% block body %}
	{{ parent() }}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper">
		<h1>Recetas en el sitio</h1>

		{% for receta in recetas %}

			<div class="container">
				<div class="row">
					<div class="col">
						<h2>Titulo:
							{{ receta.nombre }}
						</h2>
					</div>
				</div>
				<div class="row">
					<div class="col">
						Comensales:
						{{ receta.cant }}
					</div>
					<div class="col">
						Tipo de receta:
						{{ receta.tipo }}
					</div>
					<div class="col">
						Dificultad de la receta:
						{{ receta.dificultad }}
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<h3>Aca la imagen
						</h3>
					</div<divclass="row">
					<div class="col-12">
						<h3>Ingredientes:
						</h3>
						<ul>

							{% for ingrediente in receta.Ingredientes %}
								<li>
									{{ ingrediente }}
								</li>
							{% endfor %}

						</ul>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<h3>Pasos a seguir:
						</h3>
						<ul>

							{% for paso in receta.pasos %}
								<li>
									{{ paso }}
								</li>
							{% endfor %}

						</ul>
					</div>
				</div>
			</div>

		{% endfor %}
	</div>
{% endblock %}
