{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
{% endblock %}

{% block body %}
	{{ parent() }}
	<div class="container h-100">
		<div class="row h-100 justify-content-center align-items-center">
			<! -- Contenedor que tiene todo el formulario de ver receta en su interior -->
			<div class="col-6 shadow bg-light rounded my-3 p-5 border border-dark" id="receta">
				<div class="col d-flex justify-content-center">
					<h1>Receta de
						{{ receta.nombre }}</h1>
				</div>


				<div class="container">
					<div class="row">
						<div class="col">
							<h2>Titulo:
								{{ receta.nombre }}
							</h2>
						</div>
					</div>
					<div class="row">
						<div class="col-xl border border-dark text-center">
							Comensales:
							{{ receta.cant }}
						</div>
						<div class="col-xl border border-dark text-center">
							Tipo de receta:
							{{ receta.tipo }}
						</div>
						<div class="col-xl border border-dark text-center">
							Dificultad de la receta:
							{{ receta.dificultad }}
						</div>
					</div>
					<div class="row">
						<div class="col p-2">
							{% if receta.imagen %}
								<ul><img class="img-fluid" src="{{ asset('uploads/images/' ~ receta.imagen) }}" width="500" height="600"></ul>
							{% endif %}
						</div>
						<divclass="row">
							<div class="col-12">
								<h3>Ingredientes:
								</h3>
								<ul>

									{% for ingrediente in receta.Ingredientes %}
										<li>
											{{ ingrediente }}
										</li>
									{% endfor %}

								</ul>
							</div>
						</div>
						<div class="row">
							<div class="col-12">
								<h3>Pasos a seguir:
								</h3>
								<ul>

									{% for paso in receta.pasos %}
										<li>
											{{ paso }}
										</li>
									{% endfor %}

								</ul>
							</div>
						</div>
						<div class="row">
							<div class="col-12 text-center">
								<h3>Video:
								</h3>
								<iframe src="https://www.youtube.com/embed/yOdZ8CI8MyY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
